body {
    background-image: url("../../public/fundo-chaveamento.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container {
    max-width: 1600px !important;
    margin: 0 auto;
}

.bracket-row {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    margin-top: 2rem;
    gap: 1rem;
}

.col-bracket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.col-bracket .btn {
    width: 85%;
    max-width: 140px;
}

.team-button {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
    border: none;
    background: none;
}
.team-score{
    min-width: 30px;
    text-align: center;
    font-weight: bold;
}


.team-flag {
    border-radius: 8px;
}

.team-title {
    font-size: 14px;
    font-weight: 500;
}

.team-container{
    display: flex;
    align-items: center;
}

.champion-text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .col-bracket .btn {
        width: 100%;
    }
}



