.bracket-row {
    min-height: 80vh;
}

.col-bracket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.col-bracket .btn {
    width: 85%;
    max-width: 140px;
}

.team-container {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
    border: none;
    background: none;
}


.team-flag {
    border-radius: 8px;
}

.team-title {
    font-size: 14px;
}

@media (max-width: 768px) {
    .col-bracket .btn {
        width: 100%;
    }
}